.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  body {
    background-color: white;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    text-decoration: none;
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    text-decoration: none;
    font-weight: bold;
    color: #ec5f07;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    text-decoration: none;
    height: 128px;
    width: 128px;
    background-color: #ec5f07;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child .ag-courses-item_bg {
    background-color: #ec5f07;
  }
  /* .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  } */
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  :root {
    --purple: #603f8b;
    --aqua: #b4fee7;
    --violet: #a16ae8;
    --fuchsia: #fd49a0;
    --white: #efefef;
    --black: #222;
    --trueBlack: #000;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cards {
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .cards_item {
    display: flex;
  }
  
  .card_image {
   
    top: 0;
    right: 0;
    width: 90%;
    height: 110px;
    color: var(--black);
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 5px 0 0 5px;
    font-family: Georgia, Times, serif;
    font-weight: 600;
    font-size: 1.325rem;
    postition: relative;
    overflow: hidden;
    
  }
  
  .card_image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #ec5f07;
    border-radius: 5px 25px 5px 50px;
    transition: transform 0.1s linear, box-shadow 0.2s;
  }
  
  .card_text:focus,
  .card:focus {
    outline: 2px dashed var(--aqua);
  }
  
  .card:focus,
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
  }
  
  .card_content {
    padding: 0.5rem 1rem 1rem;
    color: var(--white);
  }
  
  .card_title {
    position: absolute;
    
    width: 40%;
    height: auto;
    color: var(--black);
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    /* transform: rotate(-0.3deg);
    transform-origin: left top; */
    font-family: Georgia, Times, serif;
    font-weight: 200;
    font-size: 0.2rem;
    postition: relative;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    /* animation: 0s 0s fly-in 0 reverse both; */
  }
  
  @media (min-width: 535px) {
    .card_title {
      animation: 0.5s 0.25s fly-out 1 both;
    }
  }
  
   .card:focus .card_title,
  .card:hover .card_title {
    font-size: 0;
    width: 0;
    height: 0;
   }  
  
  .card_text {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica,
      Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
    text-size-adjust: 0.2px;
    padding: 0 1rem;
  }
  
  .card_text p:first-of-type:first-letter {
    font-size: 1.8em;
    font-family: Georgia, Times, serif;
    margin-right: 0.05em;
  }
  
  @media (min-width: 480px) {
    .card_text {
      overflow: auto;
      max-height: 20rem;
      scrollbar-width: thin;
      scrollbar-color: var(--aqua) var(--violet);
    }
  
    .card_text::-webkit-scrollbar {
      width: 12px;
    }
  
    .card_text::-webkit-scrollbar-track {
      background: var(--violet);
    }
  
    .card_text::-webkit-scrollbar-thumb {
      background-color: var(--aqua);
    }
  }
  
  .card_text strong {
    color: var(--aqua);
  }
  
  .upcharge {
    position: relative;
    font-weight: 600;
    background-color: white;
    padding: 0.5rem 0.75rem;
    color: var(--trueBlack);
    border-radius: 0 10px;
    z-index: 0;
    overflow: hidden;
  }
  
  .upcharge::after,
  .upcharge::before {
    content: "+";
    display: block;
    line-height: 0;
    font-size: 3rem;
    position: absolute;
    color: white;
    z-index: -1;
    opacity: 0.3;
  }
  
  .upcharge::before {
    left: 0;
    top: 0.5rem;
  }
  
  .upcharge::after {
    right: 0;
    bottom: 1.25rem;
  }
  
  .note {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-weight: 900;
    background-image: linear-gradient(
      -45deg,
      transparent 10%,
      var(--aqua) 10.5%,
      var(--aqua) 90%,
      transparent 90.5%
    );
    color: var(--black);
    font-size: 1.3em;
    font-style: italic;
    margin-top: 1rem;
  }
  
  @keyframes fly-in {
    0% {
      top: 0;
      right: 0;
      font-size: 1.325rem;
    }
  
    25% {
      top: 0;
      right: -200%;
      font-size: 1.325rem;
    }
  
    26% {
      font-size: 2rem;
    }
  
    100% {
      top: 2rem;
      right: 0;
      font-size: 2rem;
    }
  }
  
  @keyframes fly-out {
    0% {
      top: 2rem;
      right: 0;
      font-size: 2rem;
    }
  
    50% {
      top: 0;
      right: -200%;
      font-size: 1.325rem;
    }
  
    100% {
      top: 0;
      right: 0;
      font-size: 1.325rem;
    }
  }
  