@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: #224bcf;
}

.heading {
  background: orange;
}

.heading h1 {
  font-size: 6rem;
  color: black;
  font-family: "Times New Roman";
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content h3 {
  color: #302851;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.about .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2.5;
}

.course-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-1 .box {
  background: #f5f5f5;
  border-radius: 1rem;
  text-align: center;
  padding: 3rem 2rem;
}

.course-1 .box img {
  margin-bottom: 1rem;
  height: 8rem;
}

.course-1 .box h3 {
  font-size: 2rem;
  color: #302851;
  padding: 0.5rem 0;
}

.course-1 .box p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2.5;
  padding: 1rem 0;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  /* max-width: 1450px; */
  background-color: white;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: whitesmoke;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 25px;
  flex-wrap: wrap;
}
nav .logo {
  color: green;
  font-size: 35px;
  font-weight: 900;
}
.logo_image {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 106px;
  width: 150px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 3px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
/* nav ul li a.active, */
nav ul li a:hover {
  color: #111;
  background: lightgray;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
/* .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
} */
.img {
  height: 405px;
  /* width: 100%; */
  margin-top: 5px;
}
.h_img {
  /* width: 100%; */
  align-items: center;
  display: flex;
}
.quotes {
  /* width: 50%; */
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 15px;
  color: #e95454;
  font-style: italic;
}
.quotes h2 {
  align-items: center;
  display: flex;
}
.img_text1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: orangered;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.img_text2 {
  font-size: 1.5em;
  line-height: 150%;
  text-align: center;
  color: rgb(235, 143, 14);
  letter-spacing: 0.5px;
}
.home_img {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.section {
  height: 170px;
  width: 100%;
}
.container {
  background-color: aliceblue;
  padding: 5px 0px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
}
.box1 {
  margin: 0px 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  height: 120px;
  gap: 120px;
}

.img1 {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 25px;
  width: 30px;
}
.para1 {
  margin-left: 10px;
  font-weight: 1000;
  color: black;
  text-decoration: none;
  height: 20px;
  font-size: 18px;
  text-align: center;
}
.box2 {
  display: flex;
  align-items: center;
  min-width: 250px;
  padding: 10px;
  width: 50px;
  height: 20px;
}
.box3 {
  display: flex;
  align-items: center;
  min-width: 250px;
  padding: 10px;
  width: 50px;
  margin: 0px;
  margin-left: 100px;
  height: 20px;
}
.box4 {
  display: flex;
  align-items: center;
  min-width: 250px;
  padding: 10px;
  width: 50px;
  float: right;
  height: 20px;
}
.box5 {
  display: flex;
  width: 380px;
  padding: 15px;
  margin: -80px 590px;
  background-color: orangered;
  border-radius: 8px;
  text-decoration: none;
  height: 70px;
}
.text1 {
  height: 40px;
  display: flex;
  font-size: 23px;
  /* line-height: 100%; */
  color: white;
  font-weight: 540;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
.container1 {
  background-color: white;
  padding: 50px 0px;
}
.text2 {
  font-style: normal;
  font-weight: 560;
  font-size: 35px;
  line-height: 115%;
  color: black;
}
.img2 {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 20px;
}
.para2 {
  margin-left: 10px;
  font-weight: 1000;
  color: black;
  text-decoration: none;
  height: 20px;
  font-size: 18px;
  text-align: center;
}
.img3 {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 20px;
}
.para3 {
  margin-left: 10px;
  font-weight: 1000;
  color: black;
  text-decoration: none;
  height: 20px;
  font-size: 18px;
  text-align: center;
}
.explore {
  background-color: white;
  /* margin:  0px 60px;
    height: 635px; */
}
.our_course {
  padding: 50px 100px;
  /* margin: 0px -100px;  */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}
.our_courses1 {
  font-size: 40;
  font-size: 35px;
  font-weight: 600;
  color:rgb (248, 128, 0);
  margin: 0px 0px 0px 15px;
}
.background {
  background-color: white;
  height: 150px;
  z-index: 2;
}
.our_course2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* gap: 35px; */
  /* overflow-x: auto; */
  justify-content: space-around;
}

.text_1 {
  height: 40px;
  display: flex;
  font-size: 18px;
  line-height: 100%;
  color: rgb(255, 147, 32);
  font-weight: 550;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.text_1:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 147, 32);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text_1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text_2 {
  height: 40px;
  display: flex;
  font-size: 18px;
  line-height: 100%;
  color: rgb(255, 147, 32);
  font-weight: 550;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.text_2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 147, 32);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text_2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text_3 {
  height: 40px;
  display: flex;
  font-size: 18px;
  line-height: 100%;
  color: rgb(255, 147, 32);
  font-weight: 550;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.text_3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 147, 32);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text_3:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text_4 {
  height: 40px;
  display: flex;
  font-size: 18px;
  line-height: 100%;
  color: rgb(255, 147, 32);
  font-weight: 550;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.text_4:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 147, 32);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text_4:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text_5 {
  height: 40px;
  display: flex;
  font-size: 18px;
  line-height: 100%;
  color: rgb(255, 147, 32);
  font-weight: 550;
  padding: 0px 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.text_5:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 147, 32);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text_5:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.our_course3 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.our_course4 {
  /* margin-bottom: 20px; */
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.MBA {
  margin: 0px 0px 0px 0px;
}
.our_course5 {
  margin-top: 22px;
}
.our_course6 {
  position: relative;
}
.our_course7 {
  overflow: hidden;
  padding: 10px 14px;
  margin: 0 -14px;
}
.our_course8 {
  display: flex;
  white-space: nowrap;
  gap: 101px;
}
.MBA1 {
  flex-shrink: 0;
  white-space: normal;
  height: 380px;
  width: 300px;
  padding: 10px 10px 10px 25px;
}
.MBA1_BOX1 {
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  height: 100%;
  background-color: white;
}
.card1 {
  position: absolute;
  top: 0px;
  background: linear-gradient(110.83deg, #fa8888 15.83%, #f82c4e 97.46%);
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  z-index: 2;
  font-weight: 500;
  color: #fff;
}
.card1_text1 {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 15px;
  padding: 4px 8px 4px 14px;
}
.MBA1_BOX2 {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0px;
}
.MBA1_BOX3 {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
}
.MBA1_BOX4 {
  padding: 10px 0 10px;
  margin: 0 20px;
  /* border-bottom: 1px solid #f4f5f7; */
  display: flex;
  gap: 10px;
  align-items: center;
}
.span1 {
  width: 0;
  height: 40px;
  border-right: 2px solid #dfe1e6;
  display: block;
}
.box4_text1 {
  font-size: 17px;
  color: #010101;
  line-height: 100%;
  flex: 1 1;
  font-weight: 200;
}
.box4_text2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 95%;
  background: transparent;
  padding: 5px;
}
.MBA1_BOX5 {
  padding: 0px 0px;
}
.MBA1_BOX6 {
  display: flex;
  gap: 8px;
  margin-bottom: -21px;
}
.box6_img {
  height: 100%;
  padding: 15px 5px;
}
.box6_img1 {
  height: 100%;
  padding: 15px 5px;
}
.box6_text1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  flex: 1 1;
  padding: 13px 0px;
}
.MBA1_BOX7 {
  display: flex;
  /* justify-content: center; */
  width: 108%;
  color: #e95454;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  height: 20%;
  align-items: center;
  margin: 26px 0px;
}
.box7_text {
  font-size: 20px;
  font-weight: 600;
  height: 75%;
  margin: 0px 13px;
}
.box7_text10 {
  font-size: 20px;
  font-weight: 600;
  height: 70%;
  margin: 0px 16px;
}
.box7_text2 {
  font-size: 16px;
  color: #fff;
  background-color: #e95454;
  font-weight: 600;
  line-height: 16px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 0px 33px;
}
.box7_text20 {
  font-size: 16px;
  color: #fff;
  background-color: #e95454;
  font-weight: 600;
  line-height: 16px;
  width: 50%;
  height: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 0px 33px;
}
.view_program {
  font-size: 17px;
  font-weight: 400;
}

.MBA2 {
  flex-shrink: 0;
  white-space: normal;
  height: 380px;
  width: 300px;
  padding: 10px;
}
.MBA2_BOX1 {
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  height: 100%;
  background-color: white;
}
.MBA3 {
  flex-shrink: 0;
  white-space: normal;
  height: 380px;
  width: 300px;
  padding: 10px;
}
.MBA3_BOX1 {
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  height: 100%;
  background-color: white;
}
.arrow_prv {
  cursor: pointer;
  position: absolute;
  top: 35%;
  color: black;
  background-color: white;
  left: -2%;
  font-size: 20px;
  font-weight: bold;
}
.arrow_nxt {
  cursor: pointer;
  position: absolute;
  top: 35%;
  color: black;
  background-color: white;
  right: -3%;
  font-size: 20px;
  font-weight: bold;
}
.faq-item {
  width: 77vw;
  min-width: 350px;
  margin-top: 1rem;
}
.item-question {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.question-text {
  display: inline-block;
}
.arrows-container {
  margin: 0.4rem;
}
.item-answer {
  display: none;
  color: rgb(14, 12, 12);
  padding: 2rem;
}
.close {
  display: none;
}
.show-answer .item-answer {
  display: block;
  background: #eae8e4;
  font-size: 1rem;
}
.show-answer .close {
  display: inline;
}
.show-answer .expand {
  display: none;
}
#FAQ {
  margin: 5px;
}
.body_box1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.container3 {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  z-index: 0;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
  margin: 0 0 80px 0;
  height: 460px;
}
.container4 {
  flex-direction: column;
  position: relative;
  z-index: 0;
  min-height: 0px;
  min-width: 0px;
  color: #21242c;
  width: 100%;
  max-width: 1250px;
  padding: 0px;
  margin: 60px auto 0px auto;
  -webkit-align-items: center;
  align-items: center;
}
.heading_container3 {
  color: #e95454;
  display: block;
  font-family: "Source Serif Pro", "Noto Serif", serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.1px;
  margin: -40px auto 0;
  padding: 40px 0 60px;
  text-align: center;
  max-width: 800px;
}
.container5 {
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  padding: 0px;
  position: relative;
  z-index: 0;
  min-height: 0px;
  min-width: 0px;
  flex-direction: row;
  margin: 0 0 20px 0;
  gap: 100px;
}
.container5_box {
  display: block;
  position: relative;
}
.container5_boxcontent1 {
  align-items: stretch;

  /* box-sizing: border-box ; */

  display: flex;

  flex-direction: column;
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 0;
  /* min-height: 0px ;
    min-width: 0px ;
   
    flex-grow: 1; */
  text-align: left;
}
.container5_img {
  display: flex !important;

  flex-direction: column !important;
  padding: 0px !important;
  position: relative !important;
  min-height: 0px !important;
  min-width: 0px !important;

  align-items: center !important;

  justify-content: center !important;
  height: 100%;
  width: 100%;

  align-self: center !important;
  overflow: visible !important;
  z-index: -1 !important;
  margin: 18px 0 6px 0 !important;
}
.heading_img {
  font-size: 15px;
  font-family: inherit;
  text-align: center;
  color: rgb(43, 40, 40);
}
.container5_box {
  --s: 250px; /* the size of the image */
  --b: 8px; /* the border thickness*/
  --g: 14px; /* the gap */
  --c: #eb620d;
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid lightgrey;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
}
.container5_box:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.stories {
  padding: 50px 100px 100px 100px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: whitesmoke;
}
.stories h3 {
  font-size: 35px;
  padding: 20px 0px;
  font-family: "Source Serif Pro", "Noto Serif", serif;
}
.story_user {
  display: flex;
  flex-direction: row;
}
.story_user_img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.story_user_text {
  align-items: center;
  font-size: medium;
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-left: 10px;
}
.stories_boxs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stories_box {
  background-color: white;
  width: 240px;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
}
.stories_box_text {
  padding-bottom: 80px;
}
.contact {
  background-image: url("bg_1.jpg");
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
  margin: 10px;
  flex-direction: column;
}

.contact_inner {
  margin: 15px;
  display: flex;
  /* color: white !important; */
}

#contact-us input,
#contact-us textarea {
  width: 100%;
  padding: 0.5rem;
}
.contact form {
  width: 90%;
  border-radius: 5px;
  font-size: 1.3rem;
}
.contact label {
  font-size: 1.1rem;
  font-family: "Headland One", serif;
}
.contact .h-primary {
  color: white;
  font-family: "Headland One", serif;
  font-size: 2.5rem;
  padding-top: 25px;
  padding-bottom: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact .btn {
  padding: 2px 16px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #8c3e3e;
  color: white;
  margin: 10px auto;
  font-size: 1.1rem;
  border-radius: 25px;
  font-family: cursive;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.contact_details {
  display: flex;
  padding: 15px;
  padding-right: 50px;
  flex-direction: column;
  color: white;
}
.contact_form {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem !important;
  padding: 15px;
}
.contact_form form {
  display: block;
}
.address {
  display: flex;
  padding-bottom: 30px;
}
.phone {
  display: flex;
  padding-bottom: 30px;
}
.mail {
  display: flex;
  padding-bottom: 30px;
}
.website {
  display: flex;
  padding-bottom: 30px;
}
.get_in_touch {
  color: black;
  font-family: "Headland One", serif;
  font-size: 2rem;
  /* padding-top: 25px; */
  padding-bottom: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact_img {
  padding: 5px;
  /* padding-bottom: 30px; */
}
.contact_outer {
  padding: 20px;
}
.contact_img img {
  height: 17px;
  width: 17px;
}
/* .contact_img_web img {
    height: 25px;
    width: 25px;
  } */
.contact_text span {
  color: grey;
  font-size: large;
  padding: 10px;
  padding-right: 100%;
}
.contact_text p {
  padding-top: 15px;
  padding-left: 10px;
  font-size: medium;
}
.center {
  margin: 5px 15px;
}
.heading_FAQ {
  font-family: "Source Serif Pro", "Noto Serif", serif;
  font-size: 35px;
}
.container_footer {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.about_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
  margin: 90px;
  /* border: 1px dashed rgb(0, 0, 0); */
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.about_section h2 {
  font-size: 35px;
  padding-bottom: 15px;
}
.about_section p {
  font-size: 15px;
}
.benefits ol {
  font-size: 15px;
  line-height: 1.8;
}
